/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 2px solid rgb(104, 250, 19);
} */


body {
    background-color: black;
    /* height: 100vh; */
}

header {
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.7rem;
    width: 100%;

}

.logo {
    background-color: white;
    color: black;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 0.6rem o.5rem;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 40vw;
}

li {
    list-style-type: none;
    padding: 0 0.5rem;

}

li:hover {
    cursor: pointer;
}

.text {
    color: aliceblue;
    height: 50vh;
    width: 60%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5rem;
    gap: 0.5rem;
}

h2 {
    font-size: 1em;

}

h1 {

    font-size: 2em;
}

.both {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;

}

.lorem {
    font-size: 8px;

}

button {
    font-size: 0.6em;
padding: 0.5em;
border-radius: 37%;
background: white;
font-weight: bold;
width: 18%;
height: 12%;


}

.shop {
    padding: 0.2rem 1rem;
    border-radius: 4px;
    color: rgb(226, 186, 186);
}

.shop:hover {
    color: rgb(0, 255, 0);
}

.container {
    border: 1px solid black;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2px;
    background-color: grey;
    position: absolute;
}
.jug{
    width: 70vw;
    height: auto ;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container2 {
    margin: 0;
    background-color: aliceblue;
    width:60vw;
    display: flex;
    justify-content: center;
}

.container3 {
    width: 50vw;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aliceblue;
    align-items: center;
    justify-content: space-between;
    gap: 1%;

}

.img1 {
    width: 100%;
    margin: 2%;
}

.load {
    
        background-color: black;
        color: white;
        font-size: 0.7em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        margin: 2px 2px;
        border-radius: 28%;
        width: 19%;
        height: 50%;
}
.container4{
    width: 60vw;
    height: 4rem;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container5{
    margin: 0;
    padding: 0;
    width: 60vw ;
    height: 50vh;
    background-color: rgb(230, 237, 243);
    display: flex;
    flex-direction : row;
}
.first{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.second{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.third{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    


}
.img2{
    width: 2em;
}
h4{
    font-size: 0.6rem;
}
p{
    font-size: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

}